/* ----------------- Global CSS ------------------- */

body.page-template-default.page.page-id-36.logged-in.admin-bar.wp-custom-logo.ehf-template-astra.ehf-stylesheet-oelmand.ast-single-post.ast-inherit-site-logo-transparent.ast-hfb-header.ast-desktop.ast-page-builder-template.ast-no-sidebar.astra-3\.7\.5.elementor-default.elementor-kit-12.elementor-page.elementor-page-36.customize-support.e--ua-blink.e--ua-chrome.e--ua-mac.e--ua-webkit,
body.produkt-template-default.single.single-produkt.postid-178.logged-in.admin-bar.wp-custom-logo.ehf-template-astra.ehf-stylesheet-oelmand.ast-blog-single-style-1.ast-custom-post-type.ast-single-post.ast-inherit-site-logo-transparent.ast-hfb-header.ast-desktop.ast-separate-container.ast-no-sidebar.astra-3\.7\.5.ast-normal-title-enabled.elementor-default.elementor-kit-12.customize-support {
  background-color: #fbfbfb;
}

img.billede {
  transition: all 0.3s ease;
  max-width: 40%;
  /* background-color: #ebebeb91; */
}

img.billede:hover {
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.valgt {
  background-color: transparent;
  color: #ffffff;
  text-decoration: underline;
}

#div_produkter {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  overflow-wrap: break-word;
  hyphens: auto;
  gap: 1rem;
}

#main_produkter,
#single-produkt-main {
  grid-column: 2/3;
}

/* ----------------- Forsiden ------------------- */

/* ----------------- Produkter ------------------- */

#produkt_indhold #produkt_article {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2.5rem;
}

#produkt_article article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#produkt_indhold img,
#produkt_indhold button {
  cursor: pointer;
}

#filtrering_menu {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  justify-content: center;
  background-color: #fbfbfb;

  position: sticky;
  top: 60px;
}

main#main_produkter {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
}

/* #filtrering_menu h4 {
  font-weight: 600;
} */

section#filtrering_menu > nav {
  display: flex;
  flex-direction: column;
}

section#filtrering_menu button {
  padding: 5px;
  margin: 0;
  margin-top: 3px;
  margin-left: 10px;
  text-align: start;
  border-color: transparent;
  background-color: transparent;
  color: #000000;
}

#filtrering_menu div {
  display: flex;
  flex-direction: column;
}

section#filtrering_menu nav {
  /* width: 9rem;
  height: 10rem; */
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

section#filtrering_menu button#arrow_down {
  padding: 6px 0px 0px 2px;
}

/* #filtrering_menu nav {
  transform: translateY(-100%);
} */

/* Fold menu start */
#filtrering_menu div#filter_box {
  display: flex;
  flex-direction: row;
}

#fold_menu {
  transform: translateY(-100%);
  transition: transform 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97);
  margin: 0;
  display: block;
  transition-delay: 500ms;
}

#fold_menu.hide {
  transition-delay: 500ms;
}

#fold_menu.open {
  transform: translateY(0);
}

section#filtrering_menu #oeltype_filtrering {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

section#filtrering_menu nav.hidden {
  width: 0rem;
  height: 0rem;
}

section#filtrering_menu nav.ready {
  width: 90vw;
  height: 20rem;
  overflow: scroll;
}

.rotation {
  animation-name: rotation_kf;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes rotation_kf {
  100% {
    transform: rotate(90deg);
  }
}

.rotation_tilbage {
  animation-name: rotation_tilbage_kf;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes rotation_tilbage_kf {
  100% {
    transform: rotate(0deg);
  }
}

/* Menu slut */

@media (min-width: 706px) {
  #filtrering_menu {
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin-right: 1.5rem;
    padding-right: 1.5rem;
    max-width: 20%;
    border-right: 1px solid;
  }

  main#main_produkter {
    flex-direction: row;
    align-items: flex-start;
  }

  section#filtrering_menu nav.ready {
    width: 9rem;
  }
}

/* ----------------- Single view ------------------- */

article#hoved_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.left_col {
  /* max-width: 50%; */
  display: flex;
  justify-content: center;
}

.left_col img.billede {
  max-width: 350px;
}

#single-produkt-main p {
  margin-bottom: 0.75em;
}

@media (min-width: 650px) {
  article#hoved_info {
    flex-direction: row;
  }
}

/* ----------------- Om os ------------------- */

/* ----------------- Kontakt ------------------- */
