/* ----------------- Global CSS ------------------- */

/* Billeder får en max-width og hover effect */
.billede {
  transition: all 0.3s ease;
  max-width: 40%;
}

.billede:hover {
  transform: scale(0.95);
  transition: all 0.3s ease;
}

/* ----------------- Forsiden ------------------- */

/* ----------------- Produkter ------------------- */

/* ---- Layout af sidens indhold ---- */
#main_produkter {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  overflow-wrap: break-word;
  hyphens: auto;
  gap: 1rem;
  margin-bottom: 8rem;
}

#produkter_oversigt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 2/3;
}

#main_produkter img,
#main_produkter button {
  cursor: pointer;
}

/* ---- Layout af produkterne ---- */
#produkt_indhold {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2.5rem;
}

#produkt_indhold article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* ---- Layout af filtrering menu og elementer i ---- */
#filtrering_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 8vw;
  background-color: var(--ast-global-color-5);
}

#filtrering_menu nav {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}

.valgt {
  background-color: transparent;
  text-decoration: underline;
}

#filtrering_menu button {
  padding: 5px;
  margin: 0;
  margin-top: 3px;
  margin-left: 10px;
  text-align: start;
  border-color: transparent;
  background-color: transparent;
  color: #000000;
}

#filtrering_menu #arrow_down {
  padding: 6px 0px 0px 2px;
}

/* ---- Fold menu ---- */
#filtrering_menu #filter_box {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
}

#fold_menu {
  display: block;
  transform: translateY(-100%);
  transition: transform 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97);
  transition-delay: 500ms;
  margin: 0;
}

#fold_menu.hide {
  transform: translateY(-100%);
  transition: transform 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97);
  transition-delay: 500ms;
}

#fold_menu.open {
  transform: translateY(0);
}

#filtrering_menu nav.hidden {
  width: 9rem;
  height: 0;
  overflow: scroll;
}

#filtrering_menu nav.opened {
  width: 90vw;
  height: 40vw;
  overflow: scroll;
}

/* ---- Pil animation på fold menu ---- */
.rotation {
  animation-name: rotation_kf;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes rotation_kf {
  100% {
    transform: rotate(90deg);
  }
}

.rotation_tilbage {
  animation-name: rotation_tilbage_kf;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes rotation_tilbage_kf {
  0% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* ---- Desktop filtrering menu ---- */

@media (min-width: 706px) {
  #filtrering_menu {
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin-right: 1.5rem;
    padding-right: 1.5rem;
    max-width: 20%;
    /* top: 60px; */
  }

  #produkter_oversigt {
    flex-direction: row;
    align-items: flex-start;
  }

  #filtrering_menu nav.opened {
    width: 9rem;
  }
}

/* ----------------- Single view ------------------- */

/* ---- Layout af sidens indhold ---- */
#single_produkt_main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  overflow-wrap: break-word;
  hyphens: auto;
  gap: 1rem;
}

#produkt_oversigt {
  grid-column: 2/3;
}

/* ---- Layout af produktet ---- */
#hoved_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#hoved_info .left_col {
  display: flex;
  justify-content: center;
}

#hoved_info .left_col .billede {
  max-width: 350px;
}

#single_produkt_main p {
  margin-bottom: 0.75em;
}

/* ---- Desktop layout af produktet ---- */
@media (min-width: 650px) {
  #hoved_info {
    flex-direction: row;
  }

  .right_col {
    width: 30%;
    max-width: 50%;
  }
}

/* ----------------- Om os ------------------- */

/* ----------------- Kontakt ------------------- */

/* ----------------- Footer layout ------------------- */

.site-footer-primary-section-1.site-footer-section.site-footer-section-1
  aside.footer-widget-area.widget-area.site-footer-focus-item.footer-widget-area-inner {
  display: grid;
  grid-template-areas:
    "top top"
    "left right";
}

section#block-18 {
  grid-area: top;
}

section#block-20 {
  grid-area: left;
  margin-right: 10px;
}

section#block-21 {
  grid-area: right;
  margin-left: 10px;
}
